<included>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--해당 파일 경로에 로그 파일 생성. 현재 활성 로그 파일임(해당 파일에 계속 append되는 파일)-->
        <file>${LOG_DIR}/rolling.log</file>

        <!-- 로그 파일이 일정 크기나 일정 시간이 지나면 새로운 파일로 롤링되도록 설정-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--로그 파일명 설정-->
            <fileNamePattern>${LOG_DIR}/rolling.%d{yyyyMMdd}_%i.log</fileNamePattern>
            <!--로그 파일 크기 설정-->
            <maxFileSize>1KB</maxFileSize>
            <!--로그 보관 기간 설정-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <!--encoder의 class는 Default로 patternLayoutEncoder가 설정되어 있음. 이 경우엔 명시적으로 지정-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                ${CONSOLE2_LOG_PATTERN}
            </pattern>

            <!-- 로그 파일에 출력될 패턴을 헤더로 추가 -->
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="ROLLING_FILE"/>
    </root>
</included>